.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  input,
  textarea {
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
  }
  .label {
    font-weight: 600;
    color: var(--color-text-secondary);
    text-transform: uppercase;
    font-size: 0.6rem;
  }
  .error {
    color: var(--color-error);
    font-weight: 500;
    font-size: 0.8rem;
  }
  .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
