.deleteButton {
  box-shadow: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding: 0;
  background-color: inherit;

  .deleteIcon {
    background-color: none;
    width: 1.5rem;
    height: 1.5rem;
  }
  .darkModeIcon {
    @extend .deleteIcon;
    filter: brightness(0) invert(1);
  }
}
