@use '../../../../styles/variables.scss' as *;
.deleteButton {
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: $color-text;

  .deleteIcon {
    width: 1rem;
    height: 1rem;
  }
  .darkModeIcon {
    width: 1rem;
    height: 1rem;
    filter: brightness(0) invert(1);
  }
}
