.header {
  color: var(--color-text);
  background-color: var(--color-background);
  box-shadow: var(--shadow-primary);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.main {
  display: flex;
  justify-content: flex-start;
  padding: 8rem 3rem 6.5rem;
  flex-direction: column;
  background-color: var(--color-background);
  color: var(--color-text);
  .heading {
    padding-bottom: 4rem;
    text-transform: uppercase;
  }
  .bottomContent {
    order: 0;
    display: flex;
    justify-content: center;
  }
  .topContent {
    order: 0;
  }
  @media (min-width: 1024px) {
    .main {
      padding: 8rem 6.5rem 6.5rem 6.5rem;
    }
    .bottomContent {
      order: 2;
    }
    .topContent {
      order: 1;
    }
  }
}
