// @use '../../styles/_variables.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem 1.5rem 6.5rem 1.5rem;
  background-color: var(--color-background);
  color: var(--color-text);
}
.header {
  color: var(--color-text);
  background-color: var(--color-background);
  box-shadow: var(--shadow-primary);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: var(--color-background);
  color: var(--color-text);
  box-shadow: var(--shadow-primary);
}
