.collapsibleRoot {
  .trigger {
    cursor: pointer;
    padding: 0.5rem;
    color: var(--color-text);
    border: none;
    box-shadow: var(--shadow-1);
    border-radius: 0.3rem;
    text-transform: uppercase;
    font-size: small;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    gap: 0.5rem;
  }
  .disabled {
    @extend .trigger;
    cursor: not-allowed;
    box-shadow: none;
    color: var(--color-text-secondary);
    background-color: var(--amber-4);
  }

  .triggerIconDown {
    transition: transform 0.2s ease-in-out;
    transform: rotate(0deg);
    width: 1.2rem;
    height: 1.2rem;
  }

  .triggerIcon {
    transition: transform 0.2s ease-in-out;
    transform: rotate(180deg);
    width: 1.2rem;
    height: 1.2rem;
  }
}
