@use '../../../../styles/variables.scss' as *;
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;

  .darkModeToggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: $color-background;

    .darkModeToggleIcon {
      width: 1rem;
      height: 1rem;
    }
  }
}
