.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.fullscreen {
  position: absolute;
  // top: 40vh;
  // left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.loadingText {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-text);
  text-shadow: var(--color-accent);
  z-index: 1;
  position: absolute;
}

.loader {
  width: 3.5rem;
  height: 3.5rem;
  border-top: 5px solid var(--color-accent);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: relative;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
