@use '../../../../styles/variables.scss' as *;

.verificationContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $color-background;
  color: $color-text;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  padding: 3rem;
  max-width: 600px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1;
}

.backdrop {
  position: fixed;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: $color-background-backdrop;
  backdrop-filter: blur(10px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid $color-detail;
}

.closeButton {
  background: none;
  border: none;
  font-size: 2rem;
  color: $color-text-secondary;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.title {
  color: $color-text-secondary;
}

.feedback {
  margin-top: 2rem;
  text-align: left;
}
