.backdrop {
  background: var(--color-background-backdrop);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
  filter: blur(10%);
}

.content {
  // background-color: var(--color-background);
  color: var(--color-text);
  border-radius: 0.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  padding: 3rem;
  width: 90%;
  min-width: 300px;
  background: white;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-detail);
}

.closeButton {
  background: none;
  border: none;
  color: var(--color-text-secondary);
  padding: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.title {
  color: var(--color-text-secondary);
}
