.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem 0;
  .addTagContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .addTagText {
      font-size: 0.8rem;
      color: var(--color-text);
    }
  }
}

.tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-accent);
  border-radius: 1rem;
  padding-inline: 0.5rem;
  width: fit-content;
  min-width: 2rem;
  font-size: 0.8rem;
  gap: 1rem;
  height: fit-content;

  p {
    margin: 0;
    color: var(--color-text);
  }
  button {
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    border: none;
    height: fit-content;
    padding-bottom: 0.2rem;
    color: var(--color-text);
  }
}

.addTag {
  font-weight: bold;
  padding: 0.1rem;
  font-size: small;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  color: var(--color-text-secondary);
}
