@import '../../../../styles/variables.scss';

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

.tag {
  display: flex;
  align-items: center;
  border: 1px solid $color-yellow;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.2rem 0.5rem;
  min-width: 2rem;
  font-size: small;
  gap: 1rem;
  background-color: $color-yellow;
  height: fit-content;

  p {
    margin: 0;
  }
}
