.viewport {
  --viewport-padding: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: var(--default-padding);
  margin: 0;
}

.toastRoot {
  background-color: var(--sand-2);
  border-radius: 0.5rem;
  padding: 0.5rem;
  &[data-state='open'] {
    animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  &[data-state='closed'] {
    animation: hide 100ms ease-in;
  }
  &[data-swipe='move'] {
    transform: translateX(var(--radix-toast-swipe-move-x));
  }
  &[data-swipe='cancel'] {
    transform: translateX(0);
    transition: transform 200ms ease-out;
  }
  &[data-swipe='end'] {
    animation: swipeOut 100ms ease-out;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.title {
  font-weight: 500;
  color: var(--color-text);
}
.success {
  border-left: 20px solid var(--color-success);
}
.error {
  border-left: 20px solid var(--color-error);
}
