$font-stack: system-ui, Avenir, Helvetica, Arial, sans-serif;

:root {
  line-height: 1.5;
  font-weight: 400;

  --viewport-padding: 1rem;

  --color-success: var(--green-9);
  --color-error: var(--red-9);
  --color-error-background: var(--red-a3);

  --color-text: var(--gray-11);
  --color-text-secondary: var(--gray-10);

  --color-background: var(--sand-1);
  --color-accent: var(--amber-9);
  --color-detail: var(--gray-5);

  --shadow-primary: 0 1px 3px var(--black-a4);
  --shadow-large: 0 10px 25px var(--black-a7);

  --color-background-backdrop: var(--gray-2);
}

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}
