@import 'variables';

$font-stack: system-ui, Avenir, Helvetica, Arial, sans-serif;

:root {
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #2563eb;
  --color-secondary: #64748b;

  --color-success: #16a34a;
  --color-error: #dc2626;
  --color-error-background: rgba(220, 38, 38, 0.1);

  --color-text: #0f172a;
  --color-text-secondary: #475569;

  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-detail: #e2e8f0;

  --color-yellow: #facc15;

  --shadow-primary: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-large: 0 10px 25px rgba(0, 0, 0, 0.15);

  --color-background-backdrop: rgba(15, 23, 42, 0.5);
}

.darkMode {
  --color-primary: #3b82f6;
  --color-secondary: #94a3b8;

  --color-success: #22c55e;
  --color-error: #ef4444;
  --color-error-background: rgba(239, 68, 68, 0.15);

  --color-text: #f1f5f9;
  --color-text-secondary: #94a3b8;

  --color-background: rgba(42, 32, 15, 0.861);
  --color-surface: #1e293b;

  --color-yellow: #fde047;

  --shadow-primary: 0 1px 3px rgba(0, 0, 0, 0.5);
  --shadow-large: 0 10px 25px rgba(0, 0, 0, 0.7);

  --color-background-backdrop: rgba(42, 31, 15, 0.7);
}
body {
  color: var(--color-text);
  background-color: var(--color-background);
}
