@import "@radix-ui/themes/styles.css";

$font-stack: system-ui, Avenir, Helvetica, Arial, sans-serif;

:root,
.radix-themes {
  --color-text: var(--gray-12);
  --color-text-secondary: var(--gray-11);
  --color-background: var(--sand-2);
  --color-accent: var(--amber-9);
  --color-detail: var(--gray-5);
  --color-success: var(--green-9);
  --color-error: var(--red-9);
  --color-error-background: var(--red-a3);
  --shadow-primary: 0 1px 3px var(--black-a4);
  --shadow-large: 0 10px 25px var(--black-a7);
  --color-background-backdrop: var(--black-a9);
  --default-padding: 2rem;
}
body {
  color: var(--color-text);
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}
