button {
  padding: 0.5rem 1rem;
  // color: var(--color-text);
  border: none;
  box-shadow: var(--shadow-1);
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: small;

  cursor: pointer;
  :disabled {
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: none;
    // background-color: var(--gray-4);
    // color: var(--sand-4);
  }

  &.button-cancel {
    background: none;
    box-shadow: none;
    cursor: pointer;
    color: inherit;
    padding: 0;
  }
}
input,
textarea {
  border: none;
  box-shadow: var(--shadow-1);

  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: small;
  background-color: inherit;
}
